<h2 mat-dialog-title>{{data.popupPurpose}}</h2>
@if(data.popupPurpose === 'managers'){
  <mat-dialog-content class="dialog">
    @if(data.world.managers.length === 0){
      <p>Vous n'avez pas encore de managers.</p>
    }
    @for(manager of data.world.managers; track manager.name){
      @if(!manager.unlocked){
        <div class="manager">
          <img class="round" [src]="GET_SERV+manager.logo">
          <div class="manager-info">
            <h3>{{manager.name}}</h3>
            <p>{{getProductNameById(manager.idcible)}}</p>
            <p>{{manager.seuil}} <img class="coin" src="../../assets/goldcoin.png" alt="coin"> </p>
          </div>
          <button [disabled]="data.world.money <= manager.seuil" [class.disabled] = "data.world.money <= manager.seuil" (click)="buyManager(manager)">Embaucher !</button>
        </div>
      }
    }
  </mat-dialog-content>
}
@if(data.popupPurpose === 'unlocks'){
  <mat-dialog-content class="dialog">
    @for(palier of this.unlocks; track palier.name){
      <div class="unlock">
        <img class="round" [src]="GET_SERV+palier.logo">
        <div class="unlock-info">
          <h3>{{palier.name}}</h3>
          <p>{{getProductNameById(palier.idcible)}}</p>
          <p>{{palier.seuil}}</p>
          <p>{{palier.typeratio}}</p>
          <p>x{{palier.ratio}}</p>
        </div>
      </div>
    }
  </mat-dialog-content>
}
@if(data.popupPurpose === 'cashupgrades'){
  <mat-dialog-content class="dialog">
    @if(data.world.upgrades.length === 0){
      <p>Il n'y a plus d'upgrades de disponibles.</p>
    }
    @for(upgrade of data.world.upgrades; track upgrade.name){
      @if(!upgrade.unlocked){
        <div class="unlock">
          <img class="round" [src]="GET_SERV+upgrade.logo">
          <div class="unlock-info">
            <h3>{{upgrade.name}}</h3>
            @if(upgrade.idcible === 0){
              <p>Tous</p>
            }
            <p>{{getProductNameById(upgrade.idcible)}}</p>

            <p>{{upgrade.typeratio}}</p>
            <p>x{{upgrade.ratio}}</p>
          </div>
          <p [innerHTML]="upgrade.seuil | bigvalue"></p>
          <img class="coin" src="../../assets/goldcoin.png" alt="coin">
          <button [disabled]="data.world.money <= upgrade.seuil" [class.disabled] = "data.world.money <= upgrade.seuil" (click)="buyUpgrade(upgrade)">Acheter !</button>
        </div>
      }
    }
  </mat-dialog-content>
}
@if(data.popupPurpose === 'investors'){
  <mat-dialog-content class="dialog">
      <div class="investor">
        <div class="actual">
          <p>Vous avez actuellement {{data.world.activeangels | bigvalue}} anges</p>
          <p>Vous gagnez un bonus de {{data.world.angelbonus}}% par anges ! </p>
        </div>
        <div class="reset">
          <p>Vous pouvez recommencer la partie pour gagner {{data.world.totalangels | bigvalue}} anges !</p>
          <button [disabled]="data.world.totalangels === 0" [class.disabled] = "data.world.totalangels === 0" (click)="resetWorld()">Recommencer !</button>
        </div>
      </div>
  </mat-dialog-content>
}
@if(data.popupPurpose === 'angelupgrades'){
  <mat-dialog-content class="dialog">
    @if(data.world.angelupgrades.length === 0){
      <p>Il n'y a plus d'upgrades de disponibles.</p>
    }
    <p class="bigtext">Vous avez actuellement {{data.world.activeangels}} anges</p>
    @for(upgrade of data.world.angelupgrades; track upgrade.name){
      @if(!upgrade.unlocked){
        <div class="unlock">
          <img class="round" [src]="GET_SERV+upgrade.logo">
          <div class="unlock-info">
            <h3>{{upgrade.name}}</h3>
            <p>{{getProductNameById(upgrade.idcible)}}</p>
            <p>{{upgrade.typeratio}}</p>
            <p>x{{upgrade.ratio}}</p>
          </div>
          <p [innerHTML]="upgrade.seuil | bigvalue"></p>
          <button [disabled]="data.world.activeangels <= upgrade.seuil" [class.disabled] = "data.world.activeangels <= upgrade.seuil" (click)="buyAngelUpgrade(upgrade)">Acheter !</button>
        </div>
      }
    }
  </mat-dialog-content>
}
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true">Fermer</button>
</mat-dialog-actions>
