.manager{
  margin: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 40%  ;
  img{
    margin-left: 10px;
  }
  justify-content: space-evenly;

}

.manager > button{
  display: flex;
  flex-direction: column;

}

p{
  justify-content: bottom;
}

.dialog{
  /* background-color: */
  background-image: url("../../assets/background_managers.jpg");
  background-size: 100%;
}



