/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.round{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


button{

    padding: 5px;
    background-color: #454545;
    border: 3px solid #0cba00;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition-duration: 200ms;
    cursor: pointer;

}

button:hover{
    background-color: #dddddd;
    border-radius: 0px;
    color: black;
}

