<main>

  <div class="container">
    <header>
      <span class="logo"><img [attr.src]="server+world.logo" /> </span>
      <div class="header-content">
        <h1>{{world.name}}</h1>
        <div> <span [innerHTML]="world.money | bigvalue"> </span> <img class="coin" src="../assets/goldcoin.png" alt="coin"> </div>
        <input type="text" [(ngModel)]="username" (change)="onUsernameChanged()"/>
        <button (click)="changeQt()">
          <p>{{qtMulti != 0 ? "x" + qtMulti : "Max"}}</p>
        </button>
      </div>

    </header>

    <div class="leftmenu">
      <button (click)="openPopup('unlocks')">
          Unlocks
      </button>
      <button [matBadge]="cashUpgradeBadge" matBadgePosition="before" [matBadgeHidden]="cashUpgradeBadge == 0" (click)="openPopup('cashupgrades')">
        Cash Upgrades
      </button>
      <button [matBadge]="angelUpgradeBadge" matBadgePosition="before" [matBadgeHidden]="angelUpgradeBadge == 0" (click)="openPopup('angelupgrades')">
        Angel Upgrades
      </button>
      <button [matBadge]="managerBadge" matBadgePosition="before" [matBadgeHidden]="managerBadge == 0" (click)="openPopup('managers')">
       Managers
      </button>
      <button (click)="openPopup('investors')">
       Investors
      </button>
    </div>
    <div class="productlist">
      @for(product of world.products; track product.id){
        <app-product [prod]="product" [qtMulti]="this.qtMulti" [money]="this.world.money" [activeAngels]="this.world.activeangels" [bonusAngels]="this.world.angelbonus" (notifyProduction)="onProductionDone($event)" (onBuy)="onBuy($event)" />
      }
    </div>
  </div>
</main>
