.logo{
text-align: center;

}

header{ 
    display: flex;
    justify-content: space-around;
    background-color: gray;
    text-align: left;
    align-items: center;
}


.container {  display: grid;
    grid-template-columns: 0.25fr 1.75fr 1fr;
    grid-template-rows: 0.25fr 1.75fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "entete entete entete"
      "ameliorations objets objets"
      "ameliorations objets objets";
  }
  
  .leftmenu { grid-area: ameliorations; }
  
header{ grid-area: entete; }
  
  .productlist { grid-area: objets; }

.leftmenu{
    border-radius: 10px;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    vertical-align: middle;
}

button{
    margin: 5px;
    text-align: center;
}




.productlist{
    border-radius: 10px;
     background-color: darkseagreen;

}

img{
    width: 200px;
height: 200px;
}


  