<main>
  <div class="container">
  <header>
    <span class="logo"><img [attr.src]="server+world.logo" /> </span>
    <p>{{world.name}}</p>
    <span [innerHTML]="world.money | bigvalue"> </span>
    <input type="text" [(ngModel)]="username" (change)="onUsernameChanged()"/>
    <button (click)="changeQt()">
      <p>{{qtMulti != 0 ? "x" + qtMulti : "Max"}}</p>
    </button>
  </header>
    <div class="leftmenu">
      <button>
          Unlocks
      </button>
      <button>
        Cash Upgrades
      </button>
      <button>
        Angel Upgrades
      </button>
      <button (click)="openPopup('managers')">
       Managers
      </button>
      <button>
       Investors
      </button>
    </div>
    <div class="productlist">
      @for(product of world.products; track product.id){
        <app-product [prod]="product" (notifyProduction)="onProductionDone($event)" (onBuy)="onBuy($event)" [qtMulti]="this.qtMulti" [money]="this.world.money"/>
      }
    </div>
  </div>
</main>
