<div class="product">
  <div class="leftbox">
    <img class="round" [attr.src]="GET_SERV+product.logo" (click)="startProduction()"/>
    <p>{{product.quantite}}</p>
  </div>
  <div class="rightbox">
    <div class="progressbardiv">
      <app-my-progress-bar [run]="run" [auto]="auto"
                           [orientation]="Orientation.horizontal"
                           [vitesse]="product.vitesse"
                           [initialValue]="initialValue">
      </app-my-progress-bar>
    </div>
    <div class="boxrightdown">
      <button>
        <p>Buy {{product.cout}}$</p> <!-- TODO Multiplier par le nombre de produit qu'on veut acheter à la fois-->
      </button>
      <div class="timeleft">
        <p>{{product.timeleft != 0 ? formatMilliseconds(product.timeleft) : formatMilliseconds(product.vitesse)}}</p>
      </div>
    </div>
  </div>
</div>
