<div class="product">
  <div class="leftbox">
    <img class="round" [attr.src]="GET_SERV+product.logo" (click)="startProduction()"/>
    {{product.quantite}}
  </div>
  <div class="rightbox">
    <div class="rendement">
      <p [innerHTML]="product.quantite * product.revenu * (1 + angels * angelBonus / 100) | bigvalue"></p>
      <img class="coin"src="../../assets/goldcoin.png" alt="">
    </div>
    <div class="progressbardiv">
      <app-my-progress-bar [run]="run" [auto]="this.product.managerUnlocked"
                           [orientation]="Orientation.horizontal"
                           [vitesse]="product.vitesse"
                           [initialValue]="initialValue">
      </app-my-progress-bar>
    </div>
    <div class="boxrightdown">

      <button [disabled]="!canBuy" [class.disabled] = "!canBuy" (click)="buy()">
        <p [innerHTML]="'Buy x'+numberBuyable+': ' + String(priceNumberBuyable | bigvalue)"></p>
        <img class="coin"src="../../assets/goldcoin.png" alt="">
      </button>
      <div class="timeleft">
        {{product.timeleft != 0 ? formatMilliseconds(product.timeleft) : formatMilliseconds(product.vitesse)}}
      </div>
    </div>
  </div>
</div>
