<div class="product">
  <div class="leftbox">
    <img class="round" [attr.src]="GET_SERV+product.logo" (click)="startProduction()"/>
    <p>{{product.quantite}}</p>
  </div>
  <div class="rightbox">
    <div class="progressbardiv">
      <mat-progress-bar class="progressbar" [value]="progressbarvalue"></mat-progress-bar> <!-- MODIFIER AVEC CELLE SUR MOODLE -->
    </div>
    <div class="boxrightdown">
      <button>
        <p>Buy {{product.cout}}$</p> <!-- TODO Multiplier par le nombre de produit qu'on veut acheter à la fois-->
      </button>
      <div class="timeleft">
        <p>{{product.timeleft != 0 ? product.timeleft : product.vitesse}}</p>
      </div>
    </div>
  </div>
</div>
